<div>
  <img src='img/directory.svg' alt="">
  <a href="/storage?folderId=<%= item.id %>&folderName=<%= item.folderName %>">
    <%= item.folderName %>
  </a>
  <a href="/storage/folder/details?folderId=<%= item.id %>">...</a>
</div>