<%- include('../partials/header'); %>

<h3>Folder Details</h3>

<p>Name: <%= folderInfo.folderName %></p>
<p>Size:  <%= folderInfo.folderSize %> bytes </p>
<p>Created:  <%= folderInfo.createdAt %> </p>
