<%- include('../partials/header'); %>
    <form action="/log-in" method="post">
        <p>Sign In</p>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <button>Sign In</button>
        <p>Don't have an account</p><a href="/sign-up">Register</a>
    </form>
</body>

</html>