<%- include('../partials/header'); %>
  <h3>New file</h3>
  <form action="/storage/file" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <input type="file" class="form-control-file" name="uploadedFile">
        <input type="hidden" name="folderId" value="<%= folderId %>">
        <button type="submit">Upload</button>
      </div>
    </form>
</body>
</html>