<%- include('../partials/header'); -%>

<body>
  <% if (type==="file" ) { %>
  <h3>New file</h3>
  <%} else { %>
  <h3>New folder</h3>
  <%} %>

  <% if (type==="file" ) { %>
  <form action="/storage/file" enctype="multipart/form-data" method="post">
    <%} else { %>
    <form action="/storage/folder" method="post">
      <%} %>
      <div class="form-group">
        <% if (type==="file" ) { %>
        <input type="file" class="form-control-file" name="uploaded_file">
        <%} else { %>
        <input type="text" name="folder_name">
        <%} %>
        <% if (type==="file" ) { %>
        <button type="submit">Upload</button>
        <%} else { %>
        <button type="submit">Create Folder</button>
        <%} %>
      </div>
    </form>
</body>

</html>