<%- include('../partials/header'); -%>

<body>
  <h3>New folder</h3>
  <form action="/storage/folder" method="post">
    <div class="form-group">
      <input type="text" name="folderName">
      <button type="submit">Create Folder</button>
    </div>
  </form>
</body>

</html>